/* $breakpoint-lg: 1200px; */

body {
  margin: 0;
  padding: 0;
  background: #27253d;
}

.drybn-collage__overlay {
  width: 100%;
  max-width: 40vw;
  height: 69vh;
  padding: 1rem;
  /* background: #326765;
  border: 2px solid #edc988; */
  background: #000;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.drybn-collage__content {
  width: 30vw;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.75rem;
  /* background: #edc988;
  border: 4px solid #7da87b; */
  background: #1e1d1dc4;
  border: 4px solid #fff;
  box-sizing: border-box;
}

.drybn-collage-item {
  background-color: #7da87b;
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  grid-column: span 3;
  position: relative;
  transition: 0.7s;
}

.drybn-collage-item-heading {
  background: #000000;
  color: #fff;
}

.drybn-collage-item h2 {
  /* font-family: helvetica; */
  font-weight: 800;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

.drybn-collage-item h2 span {
  font-weight: 700;
}

.drybn-collage-item:nth-child(1),
.drybn-collage-item:nth-child(2) {
  grid-column: span 3;
}

.drybn-collage-item:nth-child(1) {
  border-radius: 5px;
  background: url("https://res.cloudinary.com/nottherealalanturing/image/upload/q_70/v1625838838/assets/weddindex/traditional.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.drybn-collage-item:nth-child(2) {
  background: url("https://res.cloudinary.com/nottherealalanturing/image/upload/q_65/v1625838836/assets/weddindex/whitewedding.webp");
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;

  width: 118%;
  margin-left: -18%;
  height: calc(100% + 1rem);
}

.drybn-collage-item:nth-child(3) {
  grid-column: span 6;

  margin-top: -1rem;
}

.drybn-collage-item:nth-child(4),
.drybn-collage-item:nth-child(5) {
  grid-column: span 3;
}

.drybn-collage-item:nth-child(4) {
  border-radius: 5px;
  background: url("https://res.cloudinary.com/nottherealalanturing/image/upload/q_69/v1625838801/assets/weddindex/engagements.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.drybn-collage-item:nth-child(5) {
  background: url("https://res.cloudinary.com/nottherealalanturing/image/upload/q_69/v1625838853/assets/weddindex/otherkinds...lol.webp");
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;

  width: 118%;
  margin-left: -18%;
  height: calc(100% + 1rem);
}

/* **  MD BREAKPOINT */
@media only screen and (min-width: 960px) {
  /* .drybn-collage__overlay {
    margin: 0.75rem auto;
  } */

  .drybn-collage-item:hover {
    /* filter: blur(0); */
    /* transform: scale(1.5); */
    z-index: 1000;
    transition: 0.3s;
  }

  .drybn-collage-item {
    grid-column: span 2;
  }

  .drybn-collage-item h2 {
    opacity: 0;
    line-height: 0;
    transition: 0.2s;
  }

  .drybn-collage-item-heading:hover h2 {
    opacity: 1;
    line-height: 1;
  }

  .drybn-collage-item:nth-child(1),
  .drybn-collage-item:nth-child(2) {
    grid-column: span 3;
  }

  .drybn-collage-item:nth-child(4),
  .drybn-collage-item:nth-child(5) {
    grid-column: span 3;
  }

  .drybn-collage-item:nth-child(1) {
    /*     clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%); */
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .drybn-collage-item:nth-child(2) {
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 80%); */
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .drybn-collage-item:nth-child(3) {
    /* clip-path: polygon(0 8%, 100% 0, 100% 50%, 0 100%); */
    background-position: center;
    /* margin-top: -1em; */
    margin-top: 0em;
    grid-row: 2;
    /* height: 160%; */
    height: 100%;
    width: 100%;
    font-size: 2vw;
    font-weight: 800;
  }

  .drybn-collage-item:nth-child(4) {
    /*     clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%); */
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .drybn-collage-item:nth-child(5) {
    /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 80%); */
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .drybn-collage-item:nth-child(4):hover {
    transform: scale(1.5);
  }
}
